<template name="rightSide">

  <div id="myChatnew" class="overlay-right">

    <div class="container-fluid">
      <div class="row flex-nowrap whole-side">
        <div class="left-side col-3">
          <div class="fill-70"></div>
          <div class="container-fluid">
            <div class="row">
              {{> contacts}}
            </div>
          </div>
        </div>
        <div class="right-side col-9">
          <div class="fill-70"></div>
          <div class="fill-70"></div>
            {{> chatHead}} 
        </div>
      </div>
    </div>
    <!-- <div class="container-fluid">
      <div class="row">
        <span class="d-block p-2 bg-primary text-white">d-block</span>
      </div>
    </div> -->
  </div>
  
</template>