<template name="friendsNavbar">
  <div class="container-fluid">
    <nav class="navbar navbar-dark navbar-expand-md navbar mb-4 fixed-top bg-primary border-bottom shadow-sm">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li>
            <!-- {{> navOpenMenu}} -->
          </li>
          <a class="navbar-brand" href="/bazarHome">Grapevine</a>
         
          <li class="nav-item px-4">
            {{> navGiveaSip}}
          </li> 
          
        </ul>
        <ul class="navbar-nav ">
          <li class="nav-item pr-4">
            <!-- {{> navbarDropdown}} -->
          </li>
          {{#if currentUser}}
            {{> navbarUserDetails}}
          {{/if}}
          <li class="nav-item pl-5">
            <!-- {{> navOpenChat}} -->
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>