<template name="bazarHome">
  <div class="fill-100"></div>
  <div class="container-fluid">
    <h3 class="display-2">Welcome</h3>
    <div class="row">
      <div class="col-3">
        <img src="./img/grapes.png" style="height: 300px" width="300px;" >
        <h3 >grapevine.family</h3>
      </div>
      <div class="col-9">
        <h3>Hi Ajay ...  Please read this !!</h3>
        <p>Welcome to my mock-up. I'm afraid I've given you more than the mock-up - this is also my attempt 
          to solve to project. 
          I appreciate - that you will charge me for using time on this. No one works for free. <br>
          Now you may use what you found is usefull - or start all over. What I've done is NOT mandatory - it is just my approach.<br>
          Lets take a quick walk througt the navbar - here you see a litle black button (on hover) in each end.
       The one to the left give you a dedicated menulist depending of what page you are dealing with.(not active here)<br>
       <b>The one to the right is more interesting for YOU.</b> This is an "image" of what I want to a 
       achieve with your help. This is in princip only a "friendslist" but clicking a friend - give you 
       some posibillities for what you can do with your friends. </p>
       <p>The rest of the navbar is rather trivial - Grapevine' is a button to go home - the 'Give a sip..' button 
         wil eventually be some kind of twitter feature ( I need a freelancer here, so if your interested
         in doing something like twitter - please tell). To the right the loged-in user and a logout button.
         <b>In the midle we have a "Launch demo modal" button.</b> We will come back to this button
         <br/>
         About the templates, sorry for the styling - its dreadful but I did'nt want to spend time.
         The functuality should work - at least as an explanation. Feel free to create users
       </p>
       <p>There are a lot of templates, because its a "cooked down" project - but the ones "meant for you is the folders
          - login - chat - contacts</p>
          <b>Now click the right "black" button in navbar</b>and chose a "friend" !
      </div>
    </div>
  </div>
  
</template>