<template name="menuBazar">
  <!-- <div class="container-fluid">
      <div class="menu-list">
          <ul id="menu-content" class="menu-content" style="list-style: none;">
            {{ # each maincat}}
            <li data-toggle="collapse" data-target="#{{number}}" class="collapsed">
              <button type="button" class="btn btn-info btn-sm loadTemplate w-100 mb-1"
                data-target="{{number}}">{{main}}</button>
            </li>
            <ul class="sub-menu collapse " id="{{number}}" style="list-style: none;">
              {{#each subnames}}
              <li>
                <div class="btn-group w-100" role="group">
                  <button type="button" class="btn btn-outline-info btn-block btn-sm loadForm"
                    data-target="{{sku}}">{{name}}</button>
                </div>
              </li>
              {{/each}}
            </ul>
            {{/each}}
          </ul>
        </div>
  </div> -->
</template>

<!--data-target="#{{number}}"-->